html body{
    margin: 0;
}

.headerslider {
    width: 100%;
    overflow: hidden;
  }
  
  .headerslider img {
    width: 100%;
    height: 740px;
    display: none;
    position: relative;
  }
  
  .headerslider img:first-child {
    display: block;
  }

  .headerlogoRoca span{
    letter-spacing: 1.2px;
    position: absolute;
    margin-top: -710px;
    font-size: 40px;
    margin-left: 52px;
    font-family: poppins;
  }

  #logoRoca{
    color: #1A1A1A;
  }

  #logoRocaDot{
    color: #0081FF;
    margin-left: 140px;
  }

  .headerlogoResume{
    position: absolute;
    color: #B3B3B3;
    font-size: 13px;
    margin-top: -665px;
    margin-left: 52px;
  }

  #logo01{
    font-size: 158.3px;
    color: #1C1C1C;
    position: absolute;
    margin-top: -750px;
    margin-left: 85%;
  }

  #logoAboutMe{
   position: absolute;
    color: #373737;
    font-size: 43.17px;
    margin-left: 84%;
    margin-top: -680px;
  }

  .headerAboutMe{
    position: absolute;
    margin-left: 50%;
    margin-top: -500px;
  }

  #headerFirstLine{
    font-size: 40px;
  }

  #headerSecondLine{
    font-size: 62px;
    margin-top: -42px;
  }

  #headerThirthLine{
    font-size: 23.29px;
    margin-top: -55px;
  }

  .headerSocialMedias{
    position: absolute;
  }

  .headerSocialMedias img{
    margin-left: 15px;
  }

  .headerClientRating{
    position: absolute;
    margin-left: 80%;
    margin-top: -100px;
    font-size: 24px;
  }

  #headerProccentLine{
    padding-bottom: 3px;
    background-color: #E93656;
    margin-top: 10px;
  }

  #aboutMeSection{
    margin-top: 130px;
  }

  .sectionAboutMe  {
    display: inline-block;
    width: auto;
  }

  .sectionAboutMe p {
    max-width: 330px;
    text-align: end;
    display: flex;
  }

  .sectionAboutMe h3{
    text-align: end;
    font-size: 14px;
    color: #DAAE19;
  }

  .sectionAboutMe h2{
    text-align: end;
    font-size: 40px;
  }

  .sectionAboutMe a{
    text-decoration: none;
    display: inline-block;
    margin-left: 240px;
    margin-top: 30px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #E93656;
    font-size: 15px;
  }

  .sectionPhoto1{
    display: inline-block;
  }

  .sectionStats{
    display: inline-block;
    width: 250px;
    margin-left: 3%;
    margin-top: 20px;
  }

  .sectionStats div{
    margin-top: 30px;
  }

  #aboutMeSection{
    display: flex;
    justify-content: center;
  }

  #designProccent{
    width: 80%;
    background-color: #E93656;
    height: 5px;
    display: inline-block;
  }

  #designProccentempty{
    width: 20%;
    background-color: #F0F0F0;
    height: 5px;
    display: inline-block;
    margin-left: -2%;
  }

  #photographyProccent{
      width: 65%;
      background-color: #E93656;
      height: 5px;
      display: inline-block;
  }

  #photographyProccentempty{
    width: 35%;
    background-color: #F0F0F0;
    height: 5px;
    display: inline-block;
    margin-left: -2%;
  }

  #markingProccent{
    width: 50%;
    background-color: #E93656;
    height: 5px;
    display: inline-block;
  }

  #markingProccentempty{
    width: 50%;
    background-color: #F0F0F0;
    height: 5px;
    display: inline-block;
    margin-left: -2%;
  }

  #photoshopProccent{
    width: 30%;
    background-color: #E93656;
    height: 5px;
    display: inline-block;
    
  }

  #photoshopProccentempty{
    width: 68%;
    background-color: #F0F0F0;
    height: 5px;
    display: inline-block;
    margin-left: -2%;
  }

  .clickButtons{
    margin-top: 10px;
    display: flex;
  }

  .clickButtons span:hover{
    background-color: #15263E;
  }

  .clickButtons span{
    margin-top: 30px;
    background-color:#F9F9F9;
    margin-left: 5px;
    padding: 10px 1px;
    transition-property: all;
    transition-duration: 0.8s;
  }
  
  .clickButtons  a{
    text-decoration: none;
    color: #6B6B6B;
    padding: 10px;
  }

  .proccentPink{
    color: #E93656;
  }

  .sectionPhoto1 img{
    padding-left: 50px;
    padding-right: 20px;
  }

  .contactContainer{
    background-color: #131A36;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  .phoneIcon{
    background: #15263E;
    outline: #F0F0F0;
    outline-style: dashed;
    padding: 17px;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 0.8s;
  }

  .phoneIcon:hover{
    background-color: #E93656;
    outline: none;
  }

  #phoneNumberText{
    color: #F0F0F0;
    font-size: 25px;
  }

  .phoneContainer{
    display: flex;

  }

  #phoneNumber{
    font-size: 14px;
    color: #DFDFDF;
  }

  #phoneNumberInfo{
    margin-left: 30px;
  }

 







  #cardsContainer{
    display: flex;
    justify-content: center;
    margin-top: 203px;
  }

  .row {
    display: flex;
  }
  
  .card {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
  }
  
  .card:hover .card-content {
    opacity: 0;
  }
  
  .card-content.hidden {
    opacity: 0;
  }